.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1em;
}

.App-link {
  color: #61dafb;
}

.country-data .MuiFormControl-fullWidth {
  margin-bottom: 4px;
}
.country-data input:disabled {
  color: #000;
}
.country-data label {
  color: #000;
}
.country-data .MuiInput-underline.Mui-disabled:before {
    border-bottom-style: none;
}